.header3  .navbar-inverse .navbar-nav > li > a:hover,.other-content ul li:before,.sub-form2 form .message3-btn .submit:hover,
.price span,.success-message a:hover,.text3-withbtn a,.form-client .flip-counter.default .digit span{
	color:#ffffff; /*#d2527f; PES change pink menu backgorund*/
}
.text3-line,.open-com1,.clients-line,#nav-version7{
	background:#ffffff;
}
.subscribe3{background:#ffffff}
.accordion-section .active span:after,.form-client.flip-counter.default .digit .line{
	border-bottom-color:#ffffff;
}
.callout-message a:hover,.banner3-content .btnn,.text3-withbtn a:hover,.our-story .btnn:hover{
	

}
#top-form .formm #senddd{
background:#ffffff;
	border-color:#ffffff;
}

.form-client .flip-counter.default .digit .line{
	border-bottom-color:#ffffff !important;
}
.text3-withbtn a{
	border-color:#ffffff;
}
.com1:hover  i,.com2:hover  i,.com3:hover  i,.plan2 .btnn:hover{
	background:#ffffff !important;	
}
.team-img-overlay{
	/*background:rgba(210,82,127,.5);	 PES */
	background:rgba(255,255,255,.5);	
}

.plan2 .btnn{
	border-color:#ffffff;
	color:#ffffff;
	}
	#prod-category h2
	{
		color:#ffffff;
	}
#txt-widbtn7 a:hover{
background:#ffffff;
}
#txt-widbtn8 a:hover{
background:#ffffff;
}	
#text-with-btn3-version7 .open-com1:after{
    border-color: #ffffff transparent transparent #ffffff;
  }	
 #skill-version7 .skill .bar .value{
	background-color: #ffffff;
} 